<div class="group-container">
    <h3>List of groups</h3>
    <div class="group-list">
        <div class="group-item" *ngFor="let group of Groups" (click)="selectChat(group)"
        >
            <img [src]="group.avatar" alt="Avatar" class="avatar">
            <div class="group-info">
                <p class="group-name">{{ group.name }}</p>
                <p class="group-member" *ngIf="group.members">{{ group.members }}</p>
            </div>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="GroupsMenu">
                <mat-icon>more_vert</mat-icon>
            </button>            
        </div>
    </div>

    <mat-menu #GroupsMenu="matMenu" class="custom-menu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon> Thông tin tài khoản
        </button>
    </mat-menu>
</div>