.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.chat-sidebar {
    width: 5%;
}

.chat-list {
    width: 25%;
}

.chat-messages {
    width: 70%;
}


